https://www.kaggle.com/code/mpwolke/kpop-idols-boy-groups/

In [5]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os

In [6]:
# Create a data frame
df = pd.read_csv("kpop_idols_boy_groups.csv")
print(df.head())

    Name Short Korean Name       Debut       Company  Members  Orig. Memb.  \
0   100%   NaN        백퍼센트  2012-09-18     TOP Media        4            7
1    14U   NaN         원포유  2017-04-17            BG       14           14
2  1the9   NaN        원더나인  2019-02-09           MBK        9            9
3    24K   NaN        투포케이  2012-09-06        Choeun        8            6
4    2AM   NaN        투에이엠  2008-06-21  JYP, Big Hit        4            4

  Fanclub Name Active
0   Perfection    Yes
1          NaN    Yes
2          NaN    Yes
3          24U    Yes
4         I Am     No

In [7]:
# Remove Short column from Data Frame
df.drop('Short', axis=1, inplace=True)

# Remove Fanclub Name column from Data Frame
df.drop('Fanclub Name', axis=1, inplace=True)
print(df)

               Name Korean Name       Debut       Company  Members  \
0              100%        백퍼센트  2012-09-18     TOP Media        4
1               14U         원포유  2017-04-17            BG       14
2             1the9        원더나인  2019-02-09           MBK        9
3               24K        투포케이  2012-09-06        Choeun        8
4               2AM        투에이엠  2008-06-21  JYP, Big Hit        4
..              ...         ...         ...           ...      ...
142        VROMANCE        브로맨스  2016-06-12           RBW        4
143       Wanna One         워너원  2017-08-07           YMC       11
144  We In The Zone        위인더존  2019-05-27         Choon        5
145          WINNER          위너  2014-08-12            YG        4
146            ZE:A     제국의 아이들  2010-01-07   Star Empire        9

     Orig. Memb.  Active
0              7     Yes
1             14     Yes
2              9     Yes
3              6     Yes
4              4      No
..           ...     ...
142            4     Yes
143           11      No
144            5     Yes
145            5     Yes
146            9  Hiatus

[147 rows x 7 columns]