https://www.kaggle.com/code/mpwolke/kpop-idols-boy-groups/

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
kpop_boygroups_data = pd.read_csv("kpop_idols_boy_groups.csv")
kpop_boygroups_data.head()

,Name,Short,Korean Name,Debut,Company,Members,Orig. Memb.,Fanclub Name,Active
0,100%,NaN,백퍼센트,2012-09-18,TOP Media,4,7,Perfection,Yes
1,14U,NaN,원포유,2017-04-17,BG,14,14,NaN,Yes
2,1the9,NaN,원더나인,2019-02-09,MBK,9,9,NaN,Yes
3,24K,NaN,투포케이,2012-09-06,Choeun,8,6,24U,Yes
4,2AM,NaN,투에이엠,2008-06-21,"JYP, Big Hit",4,4,I Am,No

In [92]:
#Clean the data and create desired dataframe

kpop_boygroups_data_df = kpop_boygroups_data.drop(columns=['Short', 'Korean Name', 'Fanclub Name'])
print(kpop_boygroups_data_df)

               Name       Debut       Company  Members  Orig. Memb.  Active
0              100%  2012-09-18     TOP Media        4            7     Yes
1               14U  2017-04-17            BG       14           14     Yes
2             1the9  2019-02-09           MBK        9            9     Yes
3               24K  2012-09-06        Choeun        8            6     Yes
4               2AM  2008-06-21  JYP, Big Hit        4            4      No
..              ...         ...           ...      ...          ...     ...
142        VROMANCE  2016-06-12           RBW        4            4     Yes
143       Wanna One  2017-08-07           YMC       11           11      No
144  We In The Zone  2019-05-27         Choon        5            5     Yes
145          WINNER  2014-08-12            YG        4            5     Yes
146            ZE:A  2010-01-07   Star Empire        9            9  Hiatus

[147 rows x 6 columns]

In [95]:
# Find the mode of the Members column

print(df["Members"].mode())

# Find the mode of the Orig. Memb. column

print(df["Orig. Memb."].mode())

0    5
Name: Members, dtype: int64
0    5
Name: Orig. Memb., dtype: int64

In [96]:
def members():
    members[["Members", "Orig. Memb."]].median()

print(df["Members"].median())

5.0