https://www.kaggle.com/code/mpwolke/kpop-idols-boy-groups/

In [59]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
kpop_boygroups_data = pd.read_csv("kpop_idols_boy_groups.csv", parse_dates=['Debut'])
kpop_boygroups_data.head()

,Name,Short,Korean Name,Debut,Company,Members,Orig. Memb.,Fanclub Name,Active
0,100%,NaN,백퍼센트,2012-09-18,TOP Media,4,7,Perfection,Yes
1,14U,NaN,원포유,2017-04-17,BG,14,14,NaN,Yes
2,1the9,NaN,원더나인,2019-02-09,MBK,9,9,NaN,Yes
3,24K,NaN,투포케이,2012-09-06,Choeun,8,6,24U,Yes
4,2AM,NaN,투에이엠,2008-06-21,"JYP, Big Hit",4,4,I Am,No

In [60]:
# Clean the data and create desired dataframe

kpop_boygroups_data_df = kpop_boygroups_data.drop(columns=['Short', 'Korean Name', 'Fanclub Name'])
print(kpop_boygroups_data_df)

               Name      Debut       Company  Members  Orig. Memb.  Active
0              100% 2012-09-18     TOP Media        4            7     Yes
1               14U 2017-04-17            BG       14           14     Yes
2             1the9 2019-02-09           MBK        9            9     Yes
3               24K 2012-09-06        Choeun        8            6     Yes
4               2AM 2008-06-21  JYP, Big Hit        4            4      No
..              ...        ...           ...      ...          ...     ...
142        VROMANCE 2016-06-12           RBW        4            4     Yes
143       Wanna One 2017-08-07           YMC       11           11      No
144  We In The Zone 2019-05-27         Choon        5            5     Yes
145          WINNER 2014-08-12            YG        4            5     Yes
146            ZE:A 2010-01-07   Star Empire        9            9  Hiatus

[147 rows x 6 columns]

In [61]:
# Work with the Members column to analyze the numbers in it

kpop_boygroups_data_df["Members"]

0       4
1      14
2       9
3       8
4       4
       ..
142     4
143    11
144     5
145     4
146     9
Name: Members, Length: 147, dtype: int64

In [62]:
# Calculate the mean of the Members column

mean_members = kpop_boygroups_data_df["Members"].mean()
print(mean_members)

5.938775510204081

In [63]:
# Calculate the median of the Members column

median_members = kpop_boygroups_data_df["Members"].median()
print(median_members)

5.0

In [64]:
# Calculate the mode of Members column

mode_members = kpop_boygroups_data_df["Members"].mode()
print(mode_members)

0    5
Name: Members, dtype: int64

In [65]:
# Work with the Original Members column to analyze the numbers in it

kpop_boygroups_data_df["Orig. Memb."]

0       7
1      14
2       9
3       6
4       4
       ..
142     4
143    11
144     5
145     5
146     9
Name: Orig. Memb., Length: 147, dtype: int64

In [66]:
# Calculate the mean of the Original Members column

mean_original = kpop_boygroups_data_df["Orig. Memb."].mean()
print(mean_original)

6.346938775510204

In [67]:
# Calculate the median of the Original Members column

median_original = kpop_boygroups_data_df["Orig. Memb."].median()
print(median_original)

6.0

In [68]:
# Calculate the mode of the Original Members column

mode_original = kpop_boygroups_data_df["Orig. Memb."].mode()
print(mode_original)

0    5
Name: Orig. Memb., dtype: int64

In [69]:
# Work with Debut column only

kpop_boygroups_data_df["Debut"]

0     2012-09-18
1     2017-04-17
2     2019-02-09
3     2012-09-06
4     2008-06-21
         ...
142   2016-06-12
143   2017-08-07
144   2019-05-27
145   2014-08-12
146   2010-01-07
Name: Debut, Length: 147, dtype: datetime64[ns]

In [70]:
# Calculate median of Debut column

median_debut = kpop_boygroups_data_df["Debut"].median()
print(median_debut)

2015-05-26 00:00:00

In [71]:
# Calculate mode of Debut column

mode_debut = kpop_boygroups_data_df["Debut"].mode()
print(mode_debut)

0   2009-10-14
1   2014-07-09
2   2015-05-20
3   2016-02-23
Name: Debut, dtype: datetime64[ns]